/* RESET */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


/* title */

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    font-family: "Albert Sans", sans-serif;
}


/* Body */

body {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-family: "Albert Sans", sans-serif;
}


/* Preloader */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.spinner i {
    font-size: 3rem;
    color: #194569f4;
    animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* Welcome section */

section {
    height: 100vh;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background: linear-gradient(to right, #687d79e3 0%, #194569f4 100%), url('../images/home-bg.jpg') no-repeat;
    background-size: cover;
}

section .home-page h1 {
    font-size: 3rem;
}

section .home-page p {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.home-page a {
    color: #fff;
    padding: 15px 20px;
    border-radius: 25px;
    transition: 0.5s ease-in;
    transition-delay: 0.2s;
    background-color: #12121253;
    box-shadow: 0px 0px 0px 7px #dcdcdc1d;
}

.home-page a:hover {
    box-shadow: 0px 0px 0px 10px #dcdcdc1d;
}


/* waves part */

.hero-waves {
    display: block;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
}

.wave1 use {
    animation: move-forever1 10s linear infinite;
    animation-delay: -2s;
}

.wave2 use {
    animation: move-forever2 8s linear infinite;
    animation-delay: -2s;
}

.wave3 use {
    animation: move-forever3 6s linear infinite;
    animation-delay: -2s;
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}


/* Responsivity */

@media screen and (max-width: 850px) {
    section .home-page p {
        width: 100%;
    }
    .home-container {
        padding: 20px;
    }
}

@media screen and (max-width: 590px) {
    section .home-page h1 {
        font-size: 2rem;
    }
}